---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="John Doe's About"
  seoTitle="About John Doe, Software Engineer"
  seoDesc={"Hi there! My name is John Doe, and I'm a software engineer " +
    "with over 5 years of experience in the industry"}
>
  <div class="w-11/12 lg:w-6/12 mx-auto mb-12">
    <h1 class="text-5xl mb-12">About</h1>
    <img
      src="https://th.bing.com/th/id/OIG.ZmCURgk2Qz7XSEjqlNaR?pid=ImgGn"
      class="mb-12 shadow-md drop-shadow-[10px_10px_35px_rgba(255,224,150,0.8)] w-full lg:w-6/12 mx-auto"
    />
    <div class="lg:flex gap-4">
      <p>
        Hi there! My name is John Doe, and I'm a software engineer with over 5
        years of experience in the industry. I'm passionate about building
        high-quality software that solves real-world problems and makes people's
        lives easier.
      </p><br />
      <p>
        My expertise lies in full-stack development, with a focus on web
        applications. I'm proficient in a variety of programming languages,
        including JavaScript, Python, and Ruby, and I'm comfortable working with
        tools and frameworks like React, Node.js, and Django.
      </p><br />
      <p>
        In addition to my technical skills, I pride myself on my ability to
        collaborate with team members and communicate effectively with
        stakeholders. I'm a natural problem solver and enjoy tackling complex
        challenges.
      </p>
    </div>
  </div>
</MainLayout>
