---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Ai Project"
  seoTitle="Projects with React, Astro"
  seoDesc="Award-winning projects/app with Astro, React, and NextJS"
>
  <div class="w-11/12 lg:w-9/12 mb-6 mx-auto">
    <h1 class="text-4xl mb-12">Projects</h1>
    <div
      class="grid md:grid-cols-4 gap-2 drop-shadow-[0px_0px_20px_rgba(0,199,151,0.99)]"
    >
      <a href="/projects/crown" class="rounded overflow-hidden"
        ><img
          class="hover:scale-110 duration-500 w-full h-[300px] object-cover"
          src="https://adisak-site.netlify.app/images/01.jpeg"
        /></a
      >
      <a href="/projects/snowgod" class="rounded overflow-hidden"
        ><img
          class="hover:scale-110 duration-500 w-full h-[300px] object-cover"
          src="https://adisak-site.netlify.app/images/02.jpeg"
        /></a
      >
      <a href="/projects/godfire" class="rounded overflow-hidden"
        ><img
          class="hover:scale-110 duration-500 w-full h-[300px] object-cover"
          src="/public/images/03.jpeg"
        /></a
      >
      <a href="/projects/tron" class="rounded overflow-hidden"
        ><img
          class="hover:scale-110 duration-500 w-full h-[300px] object-cover"
          src="/public/images/04.jpeg"
        /></a
      >
      <a href="/projects/crown1" class="rounded overflow-hidden"
        ><img
          class="hover:scale-110 duration-500 w-full h-[300px] object-cover"
          src="/public/images/05.jpeg"
        /></a
      >
      <a href="/projects/snowgod1" class="rounded overflow-hidden"
        ><img
          class="hover:scale-110 duration-500 w-full h-[300px] object-cover"
          src="/public/images/06.jpeg"
        /></a
      >
      <a href="/projects/godfire1" class="rounded overflow-hidden"
        ><img
          class="hover:scale-110 duration-500 w-full h-[300px] object-cover"
          src="/public/images/07.jpeg"
        /></a
      >
      <a href="/projects/tron1" class="rounded overflow-hidden"
        ><img
          class="hover:scale-110 duration-500 w-full h-[300px] object-cover"
          src="/public/images/08.jpeg"
        /></a
      >
      <a href="/projects/crown2" class="rounded overflow-hidden"
        ><img
          class="hover:scale-110 duration-500 w-full h-[300px] object-cover"
          src="/public/images/09.jpeg"
        /></a
      >
      <a href="/projects/snowgod2" class="rounded overflow-hidden"
        ><img
          class="hover:scale-110 duration-500 w-full h-[300px] object-cover"
          src="/public/images/10.jpeg"
        /></a
      >
      <a href="/projects/godfire2" class="rounded overflow-hidden"
        ><img
          class="hover:scale-110 duration-500 w-full h-[300px] object-cover"
          src="/public/images/11.jpeg"
        /></a
      >
      <a href="/projects/tron2" class="rounded overflow-hidden"
        ><img
          class="hover:scale-110 duration-500 w-full h-[300px] object-cover"
          src="/public/images/12.jpeg"
        /></a
      >
    </div>
  </div>
</MainLayout>
