---
import MainLayout from "../../layouts/MainLayout.astro";

export async function getStaticPaths() {
  return [
    {
      params: { projects: 01 },
      props: {
        name: "CROWN",
        desc: "The project is a simple 'To-Do List' application built using React. Users can add, edit, and delete tasks from the list. The application is built using a single component that handles the rendering of the list and the form for adding new tasks. The component uses React's useState hook to manage the state of the tasks. Overall, it is a great introductory project for someone looking to learn React.",
      },
    },
    {
      params: { projects: "02" },
      props: {
        name: "Snowgod",
        desc: "The project is a simple 'To-Do List' application built using React. Users can add, edit, and delete tasks from the list. The application is built using a single component that handles the rendering of the list and the form for adding new tasks. The component uses React's useState hook to manage the state of the tasks. Overall, it is a great introductory project for someone looking to learn React.",
      },
    },
    {
      params: { projects: "03" },
      props: {
        name: "Godfire",
        desc: "The project is a simple 'To-Do List' application built using React. Users can add, edit, and delete tasks from the list. The application is built using a single component that handles the rendering of the list and the form for adding new tasks. The component uses React's useState hook to manage the state of the tasks. Overall, it is a great introductory project for someone looking to learn React.",
      },
    },
    {
      params: { projects: "04" },
      props: {
        name: "Tron",
        desc: "The project is a simple 'To-Do List' application built using React. Users can add, edit, and delete tasks from the list. The application is built using a single component that handles the rendering of the list and the form for adding new tasks. The component uses React's useState hook to manage the state of the tasks. Overall, it is a great introductory project for someone looking to learn React.",
      },
    },
    {
      params: { projects: "05" },
      props: {
        name: "Crown1",
        desc: "The project is a simple 'To-Do List' application built using React. Users can add, edit, and delete tasks from the list. The application is built using a single component that handles the rendering of the list and the form for adding new tasks. The component uses React's useState hook to manage the state of the tasks. Overall, it is a great introductory project for someone looking to learn React.",
      },
    },
    {
      params: { projects: "06" },
      props: {
        name: "Snowgod1",
        desc: "The project is a simple 'To-Do List' application built using React. Users can add, edit, and delete tasks from the list. The application is built using a single component that handles the rendering of the list and the form for adding new tasks. The component uses React's useState hook to manage the state of the tasks. Overall, it is a great introductory project for someone looking to learn React.",
      },
    },
    {
      params: { projects: "07" },
      props: {
        name: "Godfire1",
        desc: "The project is a simple 'To-Do List' application built using React. Users can add, edit, and delete tasks from the list. The application is built using a single component that handles the rendering of the list and the form for adding new tasks. The component uses React's useState hook to manage the state of the tasks. Overall, it is a great introductory project for someone looking to learn React.",
      },
    },
    {
      params: { projects: "08" },
      props: {
        name: "Tron1",
        desc: "The project is a simple 'To-Do List' application built using React. Users can add, edit, and delete tasks from the list. The application is built using a single component that handles the rendering of the list and the form for adding new tasks. The component uses React's useState hook to manage the state of the tasks. Overall, it is a great introductory project for someone looking to learn React.",
      },
    },
    {
      params: { projects: "09" },
      props: {
        name: "Crown2",
        desc: "The project is a simple 'To-Do List' application built using React. Users can add, edit, and delete tasks from the list. The application is built using a single component that handles the rendering of the list and the form for adding new tasks. The component uses React's useState hook to manage the state of the tasks. Overall, it is a great introductory project for someone looking to learn React.",
      },
    },
    {
      params: { projects: "10" },
      props: {
        name: "Snowgod2",
        desc: "The project is a simple 'To-Do List' application built using React. Users can add, edit, and delete tasks from the list. The application is built using a single component that handles the rendering of the list and the form for adding new tasks. The component uses React's useState hook to manage the state of the tasks. Overall, it is a great introductory project for someone looking to learn React.",
      },
    },
    {
      params: { projects: "11" },
      props: {
        name: "Godfire2",
        desc: "The project is a simple 'To-Do List' application built using React. Users can add, edit, and delete tasks from the list. The application is built using a single component that handles the rendering of the list and the form for adding new tasks. The component uses React's useState hook to manage the state of the tasks. Overall, it is a great introductory project for someone looking to learn React.",
      },
    },
    {
      params: { projects: "12" },
      props: {
        name: "Tron2",
        desc: "The project is a simple 'To-Do List' application built using React. Users can add, edit, and delete tasks from the list. The application is built using a single component that handles the rendering of the list and the form for adding new tasks. The component uses React's useState hook to manage the state of the tasks. Overall, it is a great introductory project for someone looking to learn React.",
      },
    },
  ];
}

const { projects } = Astro.params;
const { name, desc } = Astro.props;
---

<MainLayout>
  <section class="mx-auto px-4 mb-8 mt-4 lg:mt-8 w-full lg:max-w-3xl">
    <h1 class="font-semibold text-lg my-4 px-4 py-2.5 bg-gray-600/70 w-fit rounded-md">Ai Artwork : {name}</h1>
    <img
      src=`images/${projects}.jpeg`
      class="rounded my-10 drop-shadow-[0px_0px_20px_rgba(155,155,155,1)] w-full h-[300px] lg:h-[450px] bg-slate-800 object-cover"
    />
    <p>{desc}</p>
    <section></section>
  </section>
</MainLayout>
